extends layout

block content
    div(class="jumbotron")
            div(class="bs-example" data-example-id="inverted-navbar")
                nav(class="navbar navbar-inverse")
                    div(class="navbar-header")
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/")="Home"
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/visual")="Visual Representation"
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/about")="About"
                
            h4= "About the Project"
                p The project is to create a search Engine where in a user can search tweets from the dataset by entering a sentence or a word in the input text box provided. As soon as the user hits the submit button, he is listed with a number of tweets related to his search criteria. 
            h4="Dataset"        
                p Airline Twitter sentiment: A sentiment analysis job about the problems in major U. S Airlines.Twitter data was scrapped from February 2015 and the contributors were asked to classify the tweet as postive , negative and neutral followed by negative reason such as bad flight conditions or rude services.  
                   
            
                h4="Software techniques used"
                    ul
                        li 
                            Database Used: MongoDB
                        li 
                            Middleware Used: Express
                        li 
                            Languages used: Javascript, JQuery, Bootstrap CSS, Node.js
                        li 
                            Visual Representations Used: Tableau
            h4=" Team members" 
                ul
                    li
                        Strong Dhanalakshmi Naik
                    li
                        Strong Nirupama Sundaraman
                    li
                        Strong Priyanka Shetty 
                    li 
                        Strong Srinivas Vittal                       